@import url('normalize.css');

body{
  font-family: Baskerville, "Hoefler Text", Garamond, "Times New Roman", serif;
  background: #B3CC57 url(../images/pattern.png) repeat top left;
  font-weight: 400;
  font-size: 12px;
  color: #5C323E;
  overflow-y: hidden;
  overflow-x: hidden;
}

h1,h3,h4{
  font-weight: 400;
}

h1{
  font-style: italic;
  border-style: 1px solid rgba(168,39,67,0.3)
  padding: 35px 15px 15px 15px;
  margin: 0px 20px 20px 20px;
  position: relative;
  font-size: 38px;

}

h2{
  font-size: 40px;
  padding-bottom: 15px;
  border-bottom: 5px solid rgba(242,167,61,0.2);
  color: #A82743;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.4);
  box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.4);
  font-weight: 700
}

h3{
  font-style: italic;
  font-size: 26px;
  color: #2CB8B2;
  text-shadow: 1px 0px 1px rgba(255,255,255,0.4);
}

h4{
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 20px;
  padding: 10px 0px;
  color: #3DDB8F;
  border-bottom: 1px solid rgba(126,126,126,0.1);
  box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.4);
}

a{
  color: #A9F04D;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
a:hover{
  color: #EB0A44;
}

.hs-headline{
  text-align: center;
}

.hs-author{
  text-transform: uppercase;
  display: block;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 20px 10px;
}

.hs-menu{
  position: fixed;
  z-index: 100;
  color: #268FBE;
  background: #5C323E;
  width: 200px;
  left: 0px;
  top: 0px;
  height: 100%
}

.hs-menu nav{
  position: absolute;
  top: 250px;
  left: 0px;
  right: 0px;
  bottom: 50px;
}

.hs-menu nav a{
  display: block;
  padding: 10px 20px;
  text-align: center;
  outline: none;
  border-bottom: 1px dashed rgba(126,126,126,0.2);
}
.hs-menu nav a:active{
  box-shadow: 2px 0px 4px #EA525F inset;
}
.hs-menu nav a:first-child{
  border-top: 1px dashed rgba(126,126,126,0.2);
}
.hs-menu nav a span:nth-child(2){
  display: block;
  color: #fff;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
  padding-top: 3px;
}
.hs-content-scroller{
  position: absolute;
  left: 200px;
  right: 0px;
  overflow: hidden;
  height: 100%;
}
.hs-content-wrapper{
	width: 7950px;
	position: absolute;
	height: 100%;
	overflow: hidden;
}
.hs-content{
	width: 500px;
	overflow-y: scroll;
	height: 100%;
	float: left;
	border-right: 1px dashed rgba(126,126,126,0.2);
	border-left: 1px dashed rgba(255,255,255,0.5);
	background: transparent
	transition: background 0.3s linear;
}
